<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting" {% if page.class %}class="{{ page.class }}"{% endif %}>
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post">

            <article role="article" id="post" class="post-content" itemprop="articleBody">
                {{ content }}
                <div class="page-navigation">
                  {% if page.previous.url %}
                    <a class="prev" href="{{page.previous.url}}">&laquo; Anterior</a>
                  {% endif %}
                  {% if page.next.url %}
                    <a class="next" href="{{page.next.url}}">Próxima &raquo;</a>
                  {% endif %}
                </div>
            </article>
            
            {% include footer.html %}
        </section>
    </body>
</html>
